<table class="ej-hiragana-extra{% if include.class %} {{ include.class }}{% endif %}">
  <tr>
    <th>[ fj ]</th>
    <th>[ hj ]</th>
    <th>j</th>
    <th>sh [ ʃ ]</th>
    <th>ch [ tʃ ]</th>
    <th>f</th>
    <th>v</th>
    <th></th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ひゃ</p>
      <p>[ hja ]</p>
    </td>
    <td>
      <p>じゃ</p>
      <p>ja</p>
    </td>
    <td>
      <p>しゃ</p>
      <p>sha</p>
    </td>
    <td>
      <p>ちゃ</p>
      <p>cha</p>
    </td>
    <td>
      <p>ふぁ</p>
      <p>fa</p>
    </td>
    <td>
      <p>ゔぁ</p>
      <p>va</p>
    </td>
    <th>a</th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td class="ej-ji">
      <p>じ</p>
      <p>ji</p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ふぃ</p>
      <p>fi</p>
    </td>
    <td>
      <p>ゔぃ</p>
      <p>vi</p>
    </td>
    <th>i</th>
  </tr>
  <tr>
    <td>
      <p>ふゅ</p>
      <p>[ fju ]</p>
    </td>
    <td>
      <p>ひゅ</p>
      <p>[ hju ]</p>
    </td>
    <td>
      <p>じゅ</p>
      <p>ju</p>
    </td>
    <td>
      <p>しゅ</p>
      <p>shu</p>
    </td>
    <td>
      <p>ちゅ</p>
      <p>chu</p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ゔ</p>
      <p>vu</p>
    </td>
    <th>u</th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ひぇ</p>
      <p>[ hje ]</p>
    </td>
    <td>
      <p>じぇ</p>
      <p>je</p>
    </td>
    <td>
      <p>しぇ</p>
      <p>she</p>
    </td>
    <td>
      <p>ちぇ</p>
      <p>che</p>
    </td>
    <td>
      <p>ふぇ</p>
      <p>fe</p>
    </td>
    <td>
      <p>ゔぇ</p>
      <p>ve</p>
    </td>
    <th>e</th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ひょ</p>
      <p>[ hjo ]</p>
    </td>
    <td>
      <p>じょ</p>
      <p>jo</p>
    </td>
    <td>
      <p>しょ</p>
      <p>sho</p>
    </td>
    <td>
      <p>ちょ</p>
      <p>cho</p>
    </td>
    <td>
      <p>ふぉ</p>
      <p>fo</p>
    </td>
    <td>
      <p>ゔぉ</p>
      <p>vo</p>
    </td>
    <th>o</th>
  </tr>
</table>