<table class="ej-hiragana-ex-sound{% if include.class %} {{ include.class }}{% endif %}">
  <tr>
    <th>w</th>
    <th class="ej-dakuon"><span class="ej-normal">t</span><span class="ej-dakuon">d</span></th>
    <th class="ej-dakuon"><span class="ej-normal">s</span><span class="ej-dakuon">z</span></th>
    <th></th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td class="ej-ti ej-dakuon">
      <p><span class="ej-normal">てぃ</span><span class="ej-dakuon">でぃ</span></p>
      <p><span class="ej-normal">ti</span><span class="ej-dakuon">di</span></p>
    </td>
    <td class="ej-si ej-dakuon">
      <p><span class="ej-normal">すぃ</span><span class="ej-dakuon">ずぃ</span></p>
      <p><span class="ej-normal">si</span><span class="ej-dakuon">zi</span></p>
    </td>
    <th>i</th>
  </tr>
  <tr>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td class="ej-tu ej-dakuon">
      <p><span class="ej-normal">とぅ</span><span class="ej-dakuon">どぅ</span></p>
      <p><span class="ej-normal">tu [ t ]</span><span class="ej-dakuon">du</span></p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <th>u</th>
  </tr>
  <tr>
    <td class="ej-wo">
      <p>うぉ</p>
      <p>wo</p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>-</p>
      <p></p>
    </td>
    <th>o</th>
  </tr>
</table>