<table class="ej-hiragana{% if include.class %} {{ include.class }}{% endif %}">
  <tr>
    <th></th>
    <th>w</th>
    <th>r</th>
    <th>y</th>
    <th>m</th>
    <th class="ej-dakuon ej-handakuon"><span class="ej-normal">h</span><span class="ej-dakuon">b</span><span class="ej-handakuon">p</span></th>
    <th>n</th>
    <th class="ej-dakuon"><span class="ej-normal">t</span><span class="ej-dakuon">d</span></th>
    <th class="ej-dakuon"><span class="ej-normal">s</span><span class="ej-dakuon">z</span></th>
    <th class="ej-dakuon"><span class="ej-normal">k</span><span class="ej-dakuon">g</span></th>
    <th>-</th>
    <th></th>
  </tr>
  <tr>
    <td class="ej-n">
      <p>ん</p>
      <p>n</p>
    </td>
    <td class="ej-wa">
      <p>わ</p>
      <p>wa</p>
    </td>
    <td>
      <p>ら</p>
      <p>ra</p>
    </td>
    <td>
      <p>や</p>
      <p>ya</p>
    </td>
    <td>
      <p>ま</p>
      <p>ma</p>
    </td>
    <td class="ej-dakuon ej-handakuon ej-ha">
      <p><span class="ej-normal">は</span><span class="ej-dakuon">ば</span><span class="ej-handakuon">ぱ</span></p>
      <p><span class="ej-normal">ha</span><span class="ej-dakuon">ba</span><span class="ej-handakuon">pa</span></p>
    </td>
    <td>
      <p>な</p>
      <p>na</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">た</span><span class="ej-dakuon">だ</span></p>
      <p><span class="ej-normal">ta</span><span class="ej-dakuon">da</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">さ</span><span class="ej-dakuon">ざ</span></p>
      <p><span class="ej-normal">sa</span><span class="ej-dakuon">za</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">か</span><span class="ej-dakuon">が</span></p>
      <p><span class="ej-normal">ka</span><span class="ej-dakuon">ga</span></p>
    </td>
    <td>
      <p>あ</p>
      <p>a</p>
    </td>
    <th>a</th>
  </tr>
  <tr>
    <td class="ej-long">
      <p>ー</p>
      <p>[ ː ]</p>
    </td>
    <td class="ej-blank">
      <p>うぃ</p>
      <p>wi</p>
    </td>
    <td>
      <p>り</p>
      <p>ri</p>
    </td>
    <td class="ej-yi ej-blank">
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>み</p>
      <p>mi</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ひ</span><span class="ej-dakuon">び</span><span class="ej-handakuon">ぴ</span></p>
      <p><span class="ej-normal">hi</span><span class="ej-dakuon">bi</span><span class="ej-handakuon">pi</span></p>
    </td>
    <td>
      <p>に</p>
      <p>ni</p>
    </td>
    <td class="ej-chi ej-ji ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">ち</span><span class="ej-dakuon">ぢ</span></p>
      <p><span class="ej-normal">chi</span><span class="ej-dakuon">ji</span></p>
    </td>
    <td class="ej-shi ej-ji ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">し</span><span class="ej-dakuon">じ</span></p>
      <p><span class="ej-normal">shi</span><span class="ej-dakuon">ji</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">き</span><span class="ej-dakuon">ぎ</span></p>
      <p><span class="ej-normal">ki</span><span class="ej-dakuon">gi</span></p>
    </td>
    <td>
      <p>い</p>
      <p>i</p>
    </td>
    <th>i</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-wu ej-blank">
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>る</p>
      <p>ru</p>
    </td>
    <td>
      <p>ゆ</p>
      <p>yu</p>
    </td>
    <td>
      <p>む</p>
      <p>mu</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ふ</span><span class="ej-dakuon">ぶ</span><span class="ej-handakuon">ぷ</span></p>
      <p><span class="ej-normal">hu</span><span class="ej-dakuon">bu</span><span class="ej-handakuon">pu</span></p>    </td>
    <td>
      <p>ぬ</p>
      <p>nu</p>
    </td>
    <td class="ej-tsu ej-zu ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">つ</span><span class="ej-dakuon">づ</span></p>
      <p><span class="ej-normal">tsu</span><span class="ej-dakuon">zu</span></p>
    </td>
    <td class="ej-zu ej-dakuon">
      <p><span class="ej-normal">す</span><span class="ej-dakuon">ず</span></p>
      <p><span class="ej-normal">su</span><span class="ej-dakuon">zu</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">く</span><span class="ej-dakuon">ぐ</span></p>
      <p><span class="ej-normal">ku</span><span class="ej-dakuon">gu</span></p>
    </td>
    <td>
      <p>う</p>
      <p>u</p>
    </td>
    <th>u</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-we ej-blank">
      <p>うぇ</p>
      <p>we [ we ]</p>
    </td>
    <td>
      <p>れ</p>
      <p>re</p>
    </td>
    <td class="ej-blank">
      <p>いぇ</p>
      <p>ye</p>
    </td>
    <td>
      <p>め</p>
      <p>me</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">へ</span><span class="ej-dakuon">べ</span><span class="ej-handakuon">ぺ</span></p>
      <p><span class="ej-normal">he</span><span class="ej-dakuon">be</span><span class="ej-handakuon">pe</span></p>    </td>
    <td>
      <p>ね</p>
      <p>ne</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">て</span><span class="ej-dakuon">で</span></p>
      <p><span class="ej-normal">te</span><span class="ej-dakuon">de</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">せ</span><span class="ej-dakuon">ぜ</span></p>
      <p><span class="ej-normal">se</span><span class="ej-dakuon">ze</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">け</span><span class="ej-dakuon">げ</span></p>
      <p><span class="ej-normal">ke</span><span class="ej-dakuon">ge</span></p>
    </td>
    <td>
      <p>え</p>
      <p>e</p>
    </td>
    <th>e</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-wo ej-ex-sound">
      <p>を</p>
      <p>o</p>
    </td>
    <td>
      <p>ろ</p>
      <p>ro</p>
    </td>
    <td>
      <p>よ</p>
      <p>yo</p>
    </td>
    <td>
      <p>も</p>
      <p>mo</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ほ</span><span class="ej-dakuon">ぼ</span><span class="ej-handakuon">ぽ</span></p>
      <p><span class="ej-normal">ho</span><span class="ej-dakuon">bo</span><span class="ej-handakuon">po</span></p>    </td>
    <td>
      <p>の</p>
      <p>no</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">と</span><span class="ej-dakuon">ど</span></p>
      <p><span class="ej-normal">to</span><span class="ej-dakuon">do</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">そ</span><span class="ej-dakuon">ぞ</span></p>
      <p><span class="ej-normal">so</span><span class="ej-dakuon">zo</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">こ</span><span class="ej-dakuon">ご</span></p>
      <p><span class="ej-normal">ko</span><span class="ej-dakuon">go</span></p>
    </td>
    <td class="ej-o">
      <p>お</p>
      <p>o</p>
    </td>
    <th>o</th>
  </tr>
</table>