<table class="ej-hiragana{% if include.class %} {{ include.class }}{% endif %}">
  <tr>
    <th></th>
    <th>w</th>
    <th>r</th>
    <th>y</th>
    <th>m</th>
    <th class="ej-dakuon ej-handakuon"><span class="ej-normal">h</span><span class="ej-dakuon">b</span><span class="ej-handakuon">p</span></th>
    <th>n</th>
    <th class="ej-dakuon"><span class="ej-normal">t</span><span class="ej-dakuon">d</span></th>
    <th class="ej-dakuon"><span class="ej-normal">s</span><span class="ej-dakuon">z</span></th>
    <th class="ej-dakuon"><span class="ej-normal">k</span><span class="ej-dakuon">g</span></th>
    <th>-</th>
    <th></th>
  </tr>
  <tr>
    <td class="ej-n">
      <p>ン</p>
      <p>n</p>
    </td>
    <td class="ej-wa">
      <p>ワ</p>
      <p>wa</p>
    </td>
    <td>
      <p>ラ</p>
      <p>ra</p>
    </td>
    <td>
      <p>ヤ</p>
      <p>ya</p>
    </td>
    <td>
      <p>マ</p>
      <p>ma</p>
    </td>
    <td class="ej-dakuon ej-handakuon ej-ha">
      <p><span class="ej-normal">ハ</span><span class="ej-dakuon">バ</span><span class="ej-handakuon">パ</span></p>
      <p><span class="ej-normal">ha</span><span class="ej-dakuon">ba</span><span class="ej-handakuon">pa</span></p>
    </td>
    <td>
      <p>ナ</p>
      <p>na</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">タ</span><span class="ej-dakuon">ダ</span></p>
      <p><span class="ej-normal">ta</span><span class="ej-dakuon">da</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">サ</span><span class="ej-dakuon">ザ</span></p>
      <p><span class="ej-normal">sa</span><span class="ej-dakuon">za</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">カ</span><span class="ej-dakuon">ガ</span></p>
      <p><span class="ej-normal">ka</span><span class="ej-dakuon">ga</span></p>
    </td>
    <td>
      <p>ア</p>
      <p>a</p>
    </td>
    <th>a</th>
  </tr>
  <tr>
    <td class="ej-long">
      <p>ー</p>
      <p>[ ː ]</p>
    </td>
    <td class="ej-blank">
      <p>ウィ</p>
      <p>wi</p>
    </td>
    <td>
      <p>リ</p>
      <p>ri</p>
    </td>
    <td class="ej-yi ej-blank">
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ミ</p>
      <p>mi</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ヒ</span><span class="ej-dakuon">ビ</span><span class="ej-handakuon">ピ</span></p>
      <p><span class="ej-normal">hi</span><span class="ej-dakuon">bi</span><span class="ej-handakuon">pi</span></p>
    </td>
    <td>
      <p>ニ</p>
      <p>ni</p>
    </td>
    <td class="ej-chi ej-ji ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">チ</span><span class="ej-dakuon">ヂ</span></p>
      <p><span class="ej-normal">chi</span><span class="ej-dakuon">ji</span></p>
    </td>
    <td class="ej-shi ej-ji ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">シ</span><span class="ej-dakuon">ジ</span></p>
      <p><span class="ej-normal">shi</span><span class="ej-dakuon">ji</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">キ</span><span class="ej-dakuon">ギ</span></p>
      <p><span class="ej-normal">ki</span><span class="ej-dakuon">gi</span></p>
    </td>
    <td>
      <p>イ</p>
      <p>i</p>
    </td>
    <th>i</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-wu ej-blank">
      <p>-</p>
      <p></p>
    </td>
    <td>
      <p>ル</p>
      <p>ru</p>
    </td>
    <td>
      <p>ユ</p>
      <p>yu</p>
    </td>
    <td>
      <p>ム</p>
      <p>mu</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">フ</span><span class="ej-dakuon">ブ</span><span class="ej-handakuon">プ</span></p>
      <p><span class="ej-normal">hu</span><span class="ej-dakuon">bu</span><span class="ej-handakuon">pu</span></p>    </td>
    <td>
      <p>ヌ</p>
      <p>nu</p>
    </td>
    <td class="ej-tsu ej-zu ej-ex-sound ej-dakuon">
      <p><span class="ej-normal">ツ</span><span class="ej-dakuon">ヅ</span></p>
      <p><span class="ej-normal">tsu</span><span class="ej-dakuon">zu</span></p>
    </td>
    <td class="ej-zu ej-dakuon">
      <p><span class="ej-normal">ス</span><span class="ej-dakuon">ズ</span></p>
      <p><span class="ej-normal">su</span><span class="ej-dakuon">zu</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">ク</span><span class="ej-dakuon">グ</span></p>
      <p><span class="ej-normal">ku</span><span class="ej-dakuon">gu</span></p>
    </td>
    <td>
      <p>ウ</p>
      <p>u</p>
    </td>
    <th>u</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-we ej-blank">
      <p>ウェ</p>
      <p>we [ we ]</p>
    </td>
    <td>
      <p>レ</p>
      <p>re</p>
    </td>
    <td class="ej-blank">
      <p>イェ</p>
      <p>ye</p>
    </td>
    <td>
      <p>メ</p>
      <p>me</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ヘ</span><span class="ej-dakuon">ベ</span><span class="ej-handakuon">ペ</span></p>
      <p><span class="ej-normal">he</span><span class="ej-dakuon">be</span><span class="ej-handakuon">pe</span></p>    </td>
    <td>
      <p>ネ</p>
      <p>ne</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">テ</span><span class="ej-dakuon">デ</span></p>
      <p><span class="ej-normal">te</span><span class="ej-dakuon">de</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">セ</span><span class="ej-dakuon">ゼ</span></p>
      <p><span class="ej-normal">se</span><span class="ej-dakuon">ze</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">ケ</span><span class="ej-dakuon">ゲ</span></p>
      <p><span class="ej-normal">ke</span><span class="ej-dakuon">ge</span></p>
    </td>
    <td>
      <p>エ</p>
      <p>e</p>
    </td>
    <th>e</th>
  </tr>
  <tr>
    <td class="ej-none">
      <p></p>
      <p></p>
    </td>
    <td class="ej-wo ej-ex-sound">
      <p>ヲ</p>
      <p>o</p>
    </td>
    <td>
      <p>ロ</p>
      <p>ro</p>
    </td>
    <td>
      <p>ヨ</p>
      <p>yo</p>
    </td>
    <td>
      <p>モ</p>
      <p>mo</p>
    </td>
    <td class="ej-dakuon ej-handakuon">
      <p><span class="ej-normal">ホ</span><span class="ej-dakuon">ボ</span><span class="ej-handakuon">ポ</span></p>
      <p><span class="ej-normal">ho</span><span class="ej-dakuon">bo</span><span class="ej-handakuon">po</span></p>    </td>
    <td>
      <p>ノ</p>
      <p>no</p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">ト</span><span class="ej-dakuon">ド</span></p>
      <p><span class="ej-normal">to</span><span class="ej-dakuon">do</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">ソ</span><span class="ej-dakuon">ゾ</span></p>
      <p><span class="ej-normal">so</span><span class="ej-dakuon">zo</span></p>
    </td>
    <td class="ej-dakuon">
      <p><span class="ej-normal">コ</span><span class="ej-dakuon">ゴ</span></p>
      <p><span class="ej-normal">ko</span><span class="ej-dakuon">go</span></p>
    </td>
    <td class="ej-o">
      <p>オ</p>
      <p>o</p>
    </td>
    <th>o</th>
  </tr>
</table>